click==6.7
feedparser==5.2.1
Flask==0.12
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==1.0
numpy==1.11.3
matplotlib==1.0.1
nltk==3.2.1
requests==2.12.4
scikit-learn==0.15.2
scipy==0.18.1
simpy==3.0.10
virtualenv==15.1.0
Werkzeug==0.12.1
